body {
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: teal;
  height: 100px;
  justify-content: center;
}

h1 {
  align-self: center;
}

h2 {
  text-align: center;
  color: white;
}

.content-container {
  width: 100%;
  height: 100%;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
  border: 1px solid black;
  margin: 25px auto;
}

.image-card {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.storyline-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.movie-card p {
  text-align: center;
}

.details-link {
  color: black;
  font-size: 20px;
}

.details-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2% auto;
  background-color: lightgrey;
}

.details-card p {
  font-size: 25px;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-btn {
  background-color: darkslateblue;
  color: black;
  font-size: 16px;
  padding: 10px;
  width: 80;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: black 5px 2px 1px;
  margin: 5px;
}

.return-btn {
  background-color: green;
  color: black;
  font-size: 16px;
  padding: 10px;
  width: 80;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgb(83, 79, 79) 5px 2px 1px;
  margin: 5px;
  box-shadow: black 5px 2px 1px;
}

.delete-btn {
  background-color: darkred;
  color: black;
  font-size: 16;
  padding: 10px;
  width: 80;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgb(83, 79, 79) 5px 2px 1px;
  margin: 5px;
  box-shadow: black 5px 2px 1px;
}